{% extends 'core/base.html' %}

{% block title %}Rooms | {% endblock %}

{% block content %}
<div class="rooms-title">
    <h1>Rooms</h1>
</div>

<div class="rooms">
    <div class="rooms-left">
        <div class="rooms-wrapper">
            {% for room in rooms %}
            <div class="">
                <div class="room-item">
                    <h2 class="username">{{ room.name }}</h2>
                    <button class="join-button"><a href="{% url 'room' room.slug %}"
                    >Join</a></button>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="rooms-right">

        <div>
            <h2 class="username"><b>Create new room</b></h2><br>

            <button type="button">
                <a class="join-button" href="/addroom/">Create</a>
            </button>
        </div>

    </div>
</div>
{% endblock %}
